# Secrets & Personal Config (Essential for MySQL)
.env
.env.backup
.env.production

# Dependencies (Installed via Composer/NPM)
/vendor
/node_modules

# Laravel Storage & Logs (Unique to your machine)
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# MySQL / Database dumps
# (In case you ever export your DB to a file, don't upload the data)
*.sql

# Vite / Frontend Build
/public/build
/public/hot
/public/storage
/public/storage/Thumbnails/*

# Testing & IDEs
.phpunit.result.cache
.vscode/
.idea/

storage/app/public/*